<a href="https://colab.research.google.com/github/ducduy2612-20/THHOCSAU/blob/main/Lab01/lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
s = pd.Series([12,-4,7,9])
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [2]:
s.values

array([12, -4,  7,  9])

In [3]:
import pandas as pd
s=pd.Series([12,-4,7,9], index=['a','b','c','d'])
print(s)

a    12
b    -4
c     7
d     9
dtype: int64

In [4]:

s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:

data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [6]:
frame2 = pd.DataFrame (data, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [7]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [8]:

for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good'
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

In [9]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [10]:

import pandas as pd
heartDisease = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv", header = None)
print (heartDisease)

      0    1    2    3    4    5    6   ...  49   50   51    52    53    54  55
0    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
1      1  7.2  7.3  6.3  7.3    7  7.9  ...   F  NaN  2NT  3.25  3.25   4.5  A1
2      2  5.4  3.9  3.9    4  5.4  5.4  ...   M  NaN    1     6     4   3.5   C
3      3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  NaN    1     5  6.75     4   C
4      4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  NaN    1  4.25  4.25  5.25  D1
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96    96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  NaN    1  5.25   1.5  6.25   C
97    97  3.7  5.4    6  5.1  5.5  3.9  ...   F  NaN    1  5.25  3.75  4.75   C
98    98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  NaN  2NT     7     8     4   C
99    99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  NaN    1     5   3.5   5.5   C
100  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  NaN  2NT  5.25   2.5  4.25   C

[101 rows x 56 columns]

In [11]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
#Read json-formatted data
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [12]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [13]:
import pandas as pd
example12 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example12.txt', sep=',', skiprows=[0,1,3,6])
print (example12)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [14]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red', 'blue', 'yellow','white'],columns = ['ball', 'pen', 'pencil', 'paper'])
print(frame)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [15]:
newframe = pd.DataFrame(frame, columns=['paper','pen'])
print(newframe)

        paper  pen
red         3    1
blue        7    5
yellow     11    9
white      15   13

In [16]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [17]:
dropNaNAllFrame = filteredFrame.dropna(how='all')
print(dropNaNAllFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN

In [18]:
filteredFrame.isnull().sum()

ball      1
pen       1
pencil    1
paper     2
dtype: int64

Lab 1

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv("dulieuxettuyendaihoc.csv", index_col = "STT")
df.head(10)

FileNotFoundError: ignored

In [ ]:
df.head(10)

In [ ]:
df["DT"].fillna(0, inplace =True)
df

In [ ]:
df["T1"].fillna(df["T1"].mean(), inplace =True)
def fill(col):
    return df[col].fillna(df[col].mean(), inplace =True)
df.dtypes

In [ ]:
is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()
df_column_list

In [ ]:
df.head()

In [ ]:
for col in df_column_list:
    df[col].fillna(df[col].mean(), inplace =True)
df.head()

In [ ]:
df.isnull().values.any()

In [ ]:
for i in ["1","2","6"]:
    print("TBM"+i)

In [ ]:
for i in ["1","2","6"]:
    df["TBM"+i] = (df["T"+i]*2 + df["L"+i]+ df["H"+i]+ df["S"+i]+ + df["V"+i]*2 + df["X"+i]+ df["D"+i]+ df["N"+i])/10
df.rename(columns ={"TBM6":"TBM3"}, inplace =True)
df.head()

In [ ]:
for i in ["1","2","3"]:
    df["US_TBM"+i] = df["TBM"+i]/10 *4
df.head()

In [ ]:
for i in df["KT"].unique():
    str(i)
    df.loc[(i == "A1" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "A1" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) < 5), "KQXT"] = 0
    
    df.loc[(i == "B") & (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "B") & (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) < 5), "KQXT"] = 0
    
    df.loc[(i != "A1" or i != "A" or i == "B") & (((df["DH1"] + df["DH2"] + df["DH3"])/3) >= 5), "KQXT"] = 1
    df.loc[(i != "A1" or i != "A" or i == "B") & (((df["DH1"] + df["DH2"] + df["DH3"])/3) < 5), "KQXT"] = 0
df.head(100)

In [ ]:
print(df)

In [ ]:
from google.colab import drive
drive.mount('/drive')

In [ ]:
df.to_csv('/drive /My Drive / DataAnalyst/processed_dulieuxettuyendaihoc.csv')

In [ ]:
for i in ['1','2','3']:
  df.loc[df['TBM'+i]<5,'XL'+i] = 'Y'
  df.loc[(df['TBM'+i]<=6.5) & (df['TBM'+i]>5),'XL'+i] = 'TB'
  df.loc[(df['TBM'+i] < 8) & (df['TBM'+i]>=6.5),'XL'+i] = 'K'
  df.loc[(df['TBM'+i] < 9) & (df['TBM'+i]>=8),'XL'+i] = 'G'
  df.loc[(df['TBM'+i] >=9) ,'XL'+i] = 'XS'
print(df)